/* #hero {
    
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width:1500px) {
    #hero {
        background-position-y: 20%;
    }
} */
